h1 {
  font-size: 0.66667rem; }

h2 {
  font-size: 0.42667rem; }

h3 {
  font-size: 0.37333rem; }

h4 {
  font-size: 0.32rem; }

h5 {
  font-size: 0.26667rem; }

body {
  background-color: #fff;
  font-family: PingFangSC-Regular; }

nav {
  background-color: #fff;
  position: static;
  height: 1.17333rem;
  line-height: 1.17333rem;
  width: 100%;
  text-align: center;
  border-bottom: 0.04rem solid #e4e4e4;
  font-size: 0.45333rem;
  color: #444444; }
  nav .back {
    position: absolute;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    left: 0;
    top: 0;
    width: 1.17333rem;
    height: 1.17333rem;
    margin-left: 0.42667rem;
    z-index: 10; }
    nav .back:after {
      display: block;
      margin-left: 0.10667rem;
      content: '';
      height: 0.32rem;
      width: 0.32rem;
      border-width: 0.05333rem;
      border: 2px solid #444;
      border-width: 0 0 4px 4px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }

.login-wrapper form, .registe-wrapper form, .forget-wrapper form {
  padding: 1.94667rem 1rem 0; }
  .login-wrapper form label, .registe-wrapper form label, .forget-wrapper form label {
    display: block;
    width: 100%;
    border-bottom: 0.04rem solid #e4e4e4; }
    .login-wrapper form label input, .registe-wrapper form label input, .forget-wrapper form label input {
      color: #444444;
      border: none; }
    .login-wrapper form label em, .registe-wrapper form label em, .forget-wrapper form label em {
      position: absolute;
      top: 0;
      height: 100%;
      display: none; }
    .login-wrapper form label:nth-of-type(1), .login-wrapper form label:nth-of-type(2), .registe-wrapper form label:nth-of-type(1), .registe-wrapper form label:nth-of-type(2), .forget-wrapper form label:nth-of-type(1), .forget-wrapper form label:nth-of-type(2) {
      position: relative; }
      .login-wrapper form label:nth-of-type(1) input, .login-wrapper form label:nth-of-type(2) input, .registe-wrapper form label:nth-of-type(1) input, .registe-wrapper form label:nth-of-type(2) input, .forget-wrapper form label:nth-of-type(1) input, .forget-wrapper form label:nth-of-type(2) input {
        width: 100%; }
      .login-wrapper form label:nth-of-type(1) em, .login-wrapper form label:nth-of-type(2) em, .registe-wrapper form label:nth-of-type(1) em, .registe-wrapper form label:nth-of-type(2) em, .forget-wrapper form label:nth-of-type(1) em, .forget-wrapper form label:nth-of-type(2) em {
        padding-top: 0.46667rem;
        right: -0.4rem;
        padding-left: 0.29333rem;
        width: 1.06667rem; }
      .login-wrapper form label:nth-of-type(1) span, .login-wrapper form label:nth-of-type(2) span, .registe-wrapper form label:nth-of-type(1) span, .registe-wrapper form label:nth-of-type(2) span, .forget-wrapper form label:nth-of-type(1) span, .forget-wrapper form label:nth-of-type(2) span {
        position: absolute;
        top: 0;
        height: 100%;
        right: -0.21333rem;
        width: 1.06667rem;
        padding-left: 0.21333rem;
        padding-top: 0.33333rem; }
    .login-wrapper form label:nth-of-type(1) input, .registe-wrapper form label:nth-of-type(1) input, .forget-wrapper form label:nth-of-type(1) input {
      width: 100%; }
    .login-wrapper form label:nth-of-type(1) em, .registe-wrapper form label:nth-of-type(1) em, .forget-wrapper form label:nth-of-type(1) em {
      right: -0.4rem;
      padding-left: 0.29333rem;
      width: 1.06667rem; }
    .login-wrapper form label:nth-of-type(2), .registe-wrapper form label:nth-of-type(2), .forget-wrapper form label:nth-of-type(2) {
      margin-bottom: 0.66667rem; }
      .login-wrapper form label:nth-of-type(2) em, .registe-wrapper form label:nth-of-type(2) em, .forget-wrapper form label:nth-of-type(2) em {
        right: 0.66667rem;
        padding-left: 0.29333rem;
        width: 1.06667rem; }
    .login-wrapper form label:nth-of-type(3), .registe-wrapper form label:nth-of-type(3), .forget-wrapper form label:nth-of-type(3) {
      position: relative;
      padding-right: 3.2rem; }
      .login-wrapper form label:nth-of-type(3) input, .registe-wrapper form label:nth-of-type(3) input, .forget-wrapper form label:nth-of-type(3) input {
        width: 100%;
        overflow: hidden; }
      .login-wrapper form label:nth-of-type(3) img, .registe-wrapper form label:nth-of-type(3) img, .forget-wrapper form label:nth-of-type(3) img {
        position: absolute;
        top: 0.26667rem;
        right: 0;
        width: 2.74667rem;
        height: 0.77333rem;
        opacity: 1; }
      .login-wrapper form label:nth-of-type(3) em, .registe-wrapper form label:nth-of-type(3) em, .forget-wrapper form label:nth-of-type(3) em {
        position: absolute;
        right: 2.74667rem;
        width: 1.06667rem; }
        .login-wrapper form label:nth-of-type(3) em:before, .registe-wrapper form label:nth-of-type(3) em:before, .forget-wrapper form label:nth-of-type(3) em:before {
          margin: 0.4rem auto 0; }
  .login-wrapper form input, .registe-wrapper form input, .forget-wrapper form input {
    height: 1.32rem;
    padding-top: 0.45333rem;
    padding-bottom: 0.45333rem;
    line-height: 1;
    color: #999;
    font-size: 0.42667rem; }
  .login-wrapper form button, .registe-wrapper form button, .forget-wrapper form button {
    width: 100%;
    height: 1.22667rem;
    margin-bottom: 0.4rem;
    line-height: 1.22667rem;
    color: #fff;
    background-color: #439df7;
    border-radius: 0.08rem;
    font-size: 0.42667rem; }
  .login-wrapper form p, .registe-wrapper form p, .forget-wrapper form p {
    color: #999;
    font-size: 0.37333rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .login-wrapper form p span:nth-of-type(2), .registe-wrapper form p span:nth-of-type(2), .forget-wrapper form p span:nth-of-type(2) {
      float: right; }

.forget-div {
  width: 100%;
  height: 1.17333rem;
  line-height: 1.17333rem;
  margin-bottom: 0.13333rem; }
  .forget-div span {
    float: right;
    font-size: 0.37333rem;
    color: #999999; }

#register {
  color: #439df7;
  background-color: #FFFFFF;
  border: 0.01333rem solid #439df7; }

.registe-wrapper form, .forget-wrapper form {
  padding-top: 0; }
.registe-wrapper #register, .forget-wrapper #register {
  color: #fff;
  background-color: #439df7; }

#rememberPwdLabel {
  line-height: 1.2rem;
  border-bottom-width: 0;
  position: relative;
  font-size: 0.37333rem; }
  #rememberPwdLabel span {
    margin-left: 0.13333rem;
    color: #999; }
  #rememberPwdLabel input {
    width: 0.4rem;
    height: 0.4rem;
    vertical-align: middle;
    appearance: normal; }
    #rememberPwdLabel input + i {
      position: absolute;
      top: 0.4rem;
      left: 0;
      width: 0.4rem;
      height: 0.4rem;
      border: 2px solid #444; }

.login-wrapper dl {
  margin-top: 4.53333rem;
  text-align: center; }
  .login-wrapper dl dt {
    position: relative;
    padding-left: 1.06667rem;
    padding-right: 1.06667rem;
    color: #cdcece; }
    .login-wrapper dl dt:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 1.06667rem;
      right: 1.06667rem;
      z-index: -1;
      margin: auto;
      height: 1px;
      background-color: #cecdcd; }
    .login-wrapper dl dt span {
      padding-left: 0.4rem;
      padding-right: 0.4rem;
      background-color: #fff; }
  .login-wrapper dl dd {
    margin-top: 0.4rem; }
    .login-wrapper dl dd span {
      display: inline-block;
      margin-left: 0.33333rem;
      margin-right: 0.33333rem;
      padding: 0.26667rem; }
      .login-wrapper dl dd span:before {
        content: '';
        display: block; }

.registe-wrapper form label:nth-of-type(2), .forget-wrapper form label:nth-of-type(2) {
  padding-right: 0; }
  .registe-wrapper form label:nth-of-type(2) em, .forget-wrapper form label:nth-of-type(2) em {
    right: -0.4rem; }
  .registe-wrapper form label:nth-of-type(2) span, .forget-wrapper form label:nth-of-type(2) span {
    position: absolute;
    top: 0;
    height: 100%;
    right: -0.21333rem;
    width: 1.06667rem;
    padding-left: 0.21333rem;
    padding-top: 0.33333rem; }
.registe-wrapper form > p, .forget-wrapper form > p {
  margin-top: 0.56rem;
  color: #999;
  overflow: visible;
  white-space: normal;
  line-height: 1.5;
  font-size: 0.42667rem; }
.registe-wrapper form button, .forget-wrapper form button {
  margin-top: 0.56rem;
  margin-bottom: 0.66667rem; }

/*# sourceMappingURL=login.css.map */
