<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<title>搜索结果页-地图模式</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/mapModel.css">
	<script src="https://api.map.baidu.com/getscript?v=2.0&ak=Pz6Y5Nk5EeNtGN0xzHf8243nGHUQGQcV&services=&t=20160928173929&s=1"></script>
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/mapModel.js"></script>
</head>
<body>
<div id="content">
	<div id="switchNormal">
		切换普通模式
	</div>
	<div id="container"></div>
</div>
</body>
</html>