@charset "utf-8";

@function px2rem($px){
  @if $px == 0 {
    @return 0;
  }
  @return $px / 75 * 1rem;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

input, textarea {
  -webkit-touch-callout: default!important;
  -webkit-user-select: initial!important;
}

body, div, ul, li, h1, h2, h3, h4, h5, h6, p, form, input, textarea, select, label, article, aside, footer, header, menu, nav, section, dl, dt, dd, article, section {
  margin: 0;
  padding: 0;
  // border: none;
}

body {
  font-family: Helvetica;
  line-height: 1;
  color: #444;
}

img {
  opacity: 0;
  width: 100%;
}

ol, ul {
  list-style: none;
}

textarea {
  resize: none;
}

input, select, textarea, button {
  outline: none;
  font-family: Helvetica;
  box-shadow: none;
}

input [type='text'], button, select {
  padding: 0;
  line-height: 1;
  // -webkit-appearance: none;
  // appearance: none;
  // border: none;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset
}

a {
  display: block;
  text-decoration: none;
  color: #444;
}
input[type='number']::-webkit-outer-spin-button {
  display: none;
}
input[type='number']::-webkit-inner-spin-button {
  display: none;
}

// footer样式
footer{
  position:fixed;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:px2rem(88);
  z-index:4;
  background: #fff;
  border-top: 1px solid #e4e4e4;
}

.footer-wrap{
  clear:both;
  text-align:center;
  line-height:px2rem(88);

  li{
    float:left;
    width:33.333333%;
    font-size:px2rem(35);

  }

  li.cur a{
    color:#439df7;
  }

}

.fade{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.5);
  z-index: 5;
}