@charset "utf-8";

@import 'base';

.choose-panel{
	position:fixed;
	top: 0;
	left:0;
	right: 0;
	width: 100%;
	height: px2rem(88);
	line-height: px2rem(88);
	background: #439df7;
	color:#fff;
	font-size:px2rem(40);
	text-align: center;
	clear: both;
	z-index: 10;

	li{
		float: left;
		width: 33.333333%;
		border-left: 1px solid #fff;
	}
}

.optionList{
	position: absolute;
	top: px2rem(88);
	font-size: px2rem(35);
	width: 100%;
	height: px2rem(450);
	background: #fff;
	overflow: hidden;
	z-index: 10;

	li{
		height: px2rem(70);
		line-height: px2rem(70);
		padding-left: px2rem(30);
		border-bottom: 1px solid #dfe0e1;
	}

	.li-cur{
		border-left: px2rem(5) solid #439df7;
		color: #439df7;
	}

	.areainfo{
		position: relative;
		display: -webkit-box;
	}

	.blockinfo{
		border-left: 1px solid #dfe0e1;
		background: #f4f4f4;
	}

	.webkit-flex{
		width: 100%;
		-webkit-box-flex:1;
		height: px2rem(450);
		overflow: hidden;
	}

}

.content{
	padding: px2rem(88) px2rem(15) px2rem(128);
	.itemPro{
		position:relative;
		padding-top:px2rem(30);
		padding-bottom:px2rem(30);
		height:px2rem(200);
		border-bottom:1px solid #dfe0e1;
		.bg-pic{
			display:inline-block;
			width:px2rem(200);
			height:px2rem(150);
			margin-right:px2rem(30);
			img{
				width:100%;
				height:100%;
				object-fit: cover;
			}
		}
		.good-detail{
			width:px2rem(480);
			display:inline-block;
			position:absolute;
			font-size:px2rem(30);
			line-height:px2rem(44);
			.tit{
				margin-bottom:px2rem(15);
				overflow:hidden;
				text-overflow:ellipsis;
				white-space:nowrap;
			}
			.price{
				position:absolute;
				right:0;
				top:px2rem(100);
				font-size:px2rem(35);
				color:#439df7;
			}
		}
	}
}